<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleDisplayName</key>
	<string>Mobile Market Manager</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>TFM.co Mobile Market Manager Database</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>edu.umw.cpsc.TFMMobileMarketManager.m3db</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>TFM.co Mobile Market Manager Data Table</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>edu.umw.cpsc.TFMMobileMarketManager.m3table</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>edu.umw.cpsc.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>461bfe3e72aa</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.business</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>MarketClosed</string>
	<key>UIMainStoryboardFile</key>
	<string>MarketClosed</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>MarketClosed</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TFM.co Mobile Market Manager Database</string>
			<key>UTTypeIdentifier</key>
			<string>edu.umw.cpsc.TFMMobileMarketManager.m3db</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>m3db</string>
				<key>public.mimetype</key>
				<string>application/x-tfmmobilemarketmanager-database</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TFM.co Mobile Market Manager Data Table</string>
			<key>UTTypeIdentifier</key>
			<string>edu.umw.cpsc.TFMMobileMarketManager.m3table</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>m3table</string>
				<key>public.mimetype</key>
				<string>application/x-tfmmobilemarketmanager-datatable</string>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TFM.co Mobile Market Manager Data Table</string>
			<key>UTTypeIdentifier</key>
			<string>edu.umw.cpsc.TFMMobileMarketManager.m3table</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>m3table</string>
				<key>public.mimetype</key>
				<string>application/x-tfmmobilemarketmanager-datatable</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TFM.co Mobile Market Manager Database</string>
			<key>UTTypeIdentifier</key>
			<string>edu.umw.cpsc.TFMMobileMarketManager.m3db</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>m3db</string>
				<key>public.mimetype</key>
				<string>application/x-tfmmobilemarketmanager-database</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
